.homepage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .paper-home {
    opacity: 0;
    animation: fadeInUp 1.1s forwards;
    animation-delay: 3s;
    color: rgb(42, 48, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 900px;
    height: fit-content;
    background-color: var(--resume-paper);
    box-shadow: 0 0 10px 2px rgba(140, 118, 192, 0.5);
    border-radius: 2px;
    margin-top: -160px;
    padding-bottom: 50px;
  }

  h4 {
    color: rgb(24, 24, 24);
    font-family: monospace;
    transform: translateY(-200px);
    transition: 0.3s;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: var(--clear-hfour);
    font-size: 16px;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0;
  }
  .title-home {
    transition: 0.3s;
    color: var(--dark-blue-colour);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 150px;
    transform: translateY(-170px);
    margin-bottom: 100px;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-family: "Courier New", Courier, monospace;
        font-size: 36px;
        margin: 0;
        letter-spacing: 1px;
        cursor: default;
      }
      h5 {
        font-size: 14px;
        margin: 0 0 5px 0;
      }
    }
    .profile-pic {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      height: fit-content;
      margin: 0 0 0 10px;
      img {
        box-shadow: 0 0 0 2px white;
        border-radius: 15px;
        height: 225px;
      }
    }
  }
  .text-container {
    h1 {
      font-family: "Courier New", Courier, monospace;
      font-size: 26px;
      width: fit-content;
      border-bottom: 4px solid var(--clear-hfour);
      cursor: default;
      transition: 0.3s;
    }
    h3 {
      font-family: "Courier New", Courier, monospace;
      font-size: 26px;
      width: fit-content;
      border-bottom: 4px solid var(--clear-hfour);
      cursor: default;
    }
    .the-front-end-p {
      display: flex;
      flex-direction: row;
      width: 100%;
      p {
        padding: 0 15px;
        font-size: 16px;
        width: 50%;
        margin: 0;
      }
    }
    width: 90%;
    max-width: 833px;
  }
  .text-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

    h6 {
      font-size: 16px;
      margin: 10px 0 5px 0;
      border-bottom: 2px solid var(--clear-hfour);
      width: fit-content;
    }

    p {
      margin: 0 0 0 20px;
      font-size: 16px;
    }
  }
  .text-section-with-border {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--clear-hfour);
    border-radius: 10px;
    margin: 20px 0 20px 0;

    h3 {
      font-family: "Coolvetica";
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 20px;
      margin: 0 0 20px 0;
    }
    .inner-xp-learn-div {
      display: flex;
      span {
        font-size: 14px;
        font-weight: 600;
      }
      p {
        width: 90%;
      }
    }
    .nomad-link-div {
      gap: 5px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin: 20px 10px;
    }
  }
  .time-to-change {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 500px;
    align-items: center;
    img {
      box-shadow: 0 0 0 3px rgb(255, 255, 255);
      width: 100%;
      border-radius: 10px;
    }

    span {
      width: fit-content;
      padding: 3px 10px;
      text-align: center;
      font-family: monospace, "courier";
      font-size: 20px;
      letter-spacing: -0.5px;
      padding: 6px 20px;
      color: var(--dark-blue-colour);
      margin-bottom: 50px;

      svg {
        color: rgb(52, 122, 202);
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .homepage {
    .paper-home {
      margin-top: 0;
    }
    .text-container {
      .the-front-end-p {
        flex-direction: column;
        p {
          width: 100%;
          padding: 0 20px 0 0;
        }
      }
      .text-section-with-border {
        .inner-xp-learn-div {
          p {
            padding: 0 20px 0 0;
          }
        }
      }
    }
    canvas {
      height: 400px;
    }
    h4 {
      transform: translateY(-100px);
      font-size: 14px;
      width: fit-content;
      max-width: 85%;
    }
    .title-home {
      transform: translateY(-80px);
      width: 100%;
      align-items: center;
      justify-content: center;
      max-width: 95%;
      background-color: rgba(0, 0, 0, 0);
      margin: 10px 0 30px 0;
      .title {
        margin: 0 10px 20px 0;
      }
      .profile-pic {
        margin: 0 0 0 0;
        display: flex;
        justify-content: center;
        width: fit-content;
        align-items: center;
        img {
          height: 225px;
          margin: 0;
          border: 2px solid white;
        }
      }
    }
    .time-to-change {
      width: 95%;
    }
  }
}
@media screen and (max-width: 742px) {
  .homepage {
    .paper-home {
      margin-top: 100px;
    }
  }
}
@media screen and (max-width: 451px) {
  .homepage {
    .paper-home {
      margin-top: 20vw;
    }
    .title-home {
      .profile-pic {
        img {
          height: 50vw;
        }
      }
    }
  }
}
@media screen and (min-width: 2560px) {
  .homepage {
    .paper-home {
      max-width: 1500px;
    }
    canvas {
      height: 700px;
    }

    h4 {
      transform: translateY(-270px);
      font-size: 24px;
    }
    .title-home {
      max-width: 700px;
      height: 200px;
      margin-bottom: 50px;
      .title {
        h1 {
          font-size: 50px;
        }
        h5 {
          font-size: 20px;
        }
      }
      // .profile-pic {
      //   width: 200px;
      //   height: 200px;
      // }
    }
    .text-container {
      h3 {
        font-size: 24px;
      }
      .the-front-end-p {
        p {
          font-size: 20px;
        }
      }
      max-width: 1300px;
    }
    .text-section {
      span {
        font-size: 20px;
        font-weight: 600;
      }
      p {
        font-size: 20px;
      }
    }

    .time-to-change {
      max-width: 700px;
    }
  }
}
