.contact-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .contact-form {
    padding: 50px;
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    h1 {
      margin: 0;
      font-size: 36px;
    }
    p {
      margin-top: 10px;
      width: 90%;
      font-size: 16px;
      max-width: 700px;
    }
    form {
      height: 100%;
      width: 90%;
      max-width: 700px;

      .name-div {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 5px;
        height: fit-content;
        margin-bottom: 5px;
        input {
          width: 50%;
          padding: 10px 20px;
          border: none;
          border-radius: 3px;
          box-sizing: border-box;
          &::placeholder {
            color: rgba(57, 87, 187, 0.712);
          }
        }
      }
      .subject-div {
        width: 100%;
        margin-bottom: 5px;
        input {
          width: 100%;
          padding: 10px 20px;
          box-sizing: border-box;
          border: none;
          border-radius: 3px;
          &::placeholder {
            color: rgba(26, 46, 114, 0.712);
          }
        }
      }
      .message-div {
        width: 100%;
        height: 120px;
        margin-bottom: 20px;
        .text-area {
          padding: 10px 20px;
          width: 100%;
          height: 120px;
          border: none;
          border-radius: 3px;

          box-sizing: border-box;
          &::placeholder {
            color: rgba(57, 87, 187, 0.712);
          }
        }
      }
      .send-div {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .contact-send-button {
          background-color: var(--clear-hfour);
          border: none;
          padding: 5px 20px;
          border-radius: 4px;
          &:hover {
            transition: 0.15s;
            box-shadow: 0 0 0 2px rgb(64, 143, 218);
          }
        }
      }
    }
  }
}
.map-wrap {
  z-index: -5;
  display: flex;
  background: rgba(8, 253, 216, 0.438);
  width: 60%;
  height: 100%;
  margin-top: 50px;
}

.leaflet-container {
  z-index: -5;
  position: relative;
  width: 100%;
  height: 100%;
  animation: backInRight 1s forwards;
  animation-delay: 1s;
}
@media screen and (max-width: 1300px) {
  .contact-page {
    .contact-form {
      width: 50%;
      form {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .contact-page {
    flex-direction: column;
    align-items: center;
    height: 200vh;

    justify-content: flex-start;

    .contact-form {
      width: 80%;
      padding: 5px;
      form {
        width: 100%;
      }
    }
    .map-wrap {
      width: 90%;
      height: 800px;
      margin-top: 15px;
    }
  }
}
@media screen and (max-width: 600px) {
  .contact-page {
    flex-direction: column;
    align-items: center;

    .contact-form {
      width: 90%;
      padding: 5px;
      form {
        width: 100%;
      }
    }
  }
}
