.todo-form {
  input {
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--dark-blue-colour);
    }
  }
}

.toodoo {
  .todo-li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    .deleteBtn {
      font-size: 2px;
      border: none;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.767);
      color: yellowgreen;
    }
  }
}
