.portfolio-page {
  width: 100%;
  height: 100%;

  .portfolio-images-container {
    margin-top: 150px;
  }
  .images-container {
    margin: 0 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 100px;
  }

  .image-box {
    position: relative;
    flex: 1 1 20%;
    height: 400px;
    overflow: hidden;
    border-radius: 4px;
    max-width: calc(25% - 20px);

    .portfolio-image {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .content {
      position: absolute;
      width: 90%;
      z-index: 3;
      padding: 10px 20px;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25) 0,
        rgba(0, 0, 0, 1)
      );
      bottom: -70px;
    }

    .title {
      margin-bottom: 0;
      margin-top: 0;
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      line-height: 24px;
    }

    .description {
      font-size: 14px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-weight: 400;
      margin-bottom: 5px;
      color: rgb(35, 226, 169);
      font-weight: 700;
    }

    .btn {
      margin-top: 30px;
      margin-bottom: 10px;
      padding: 0 23px;
      height: 40px;
      line-height: 34px;
      border: 2px solid #01f7a5;
      border-radius: 4px;
      font-size: 14px;
      color: #fff;
      background: transparent;
      text-transform: uppercase;
      font-weight: 700;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      cursor: pointer;
    }

    .btn:hover {
      transform: translateY(-3px);
      background: #01f7a5;
    }

    &:after {
      content: "";
      background: linear-gradient(
        180deg,
        #009ee7,
        rgb(85, 42, 243),
        rgb(223, 0, 0)
      );
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      opacity: 0;
    }

    &:hover:after {
      opacity: 0.55;
    }
    &:hover .description {
      color: rgb(243, 243, 243);
    }
    &:hover .content {
      bottom: 0;
      background: transparent;
    }
  }
  @media screen and (min-width: 2400px) {
    .image-box {
      height: 40vh;
    }
  }
  @media screen and (max-width: 1050px) {
    .image-box {
      min-width: calc(33% - 20px);
    }
  }
  @media screen and (max-width: 720px) {
    .image-box {
      min-width: calc(50% - 20px);
    }
  }
  @media screen and (max-width: 540px) {
    .image-box {
      min-width: 100%;
    }
  }
}
