.contact-page {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  color: rgb(42, 48, 46);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  .paper {
    opacity: 0;
    animation: jackInTheBox 1s forwards;
    animation-delay: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 900px;
    height: 1300px;
    background-color: var(--resume-paper);
    box-shadow: 0 0 10px 2px rgba(140, 118, 192, 0.5);
    margin-top: 70px;
    border-radius: 2px;
    h1 {
      font-size: 40px;
      font-family: "Courier New", Courier, monospace;
      margin-bottom: 10px;
    }
    h4 {
      font-size: 14px;
      margin: 2px;
    }
    a {
      text-decoration: none;
      color: rgb(83, 133, 226);
      font-size: 14px;
    }

    @keyframes customFadeDown {
      0% {
        transform: translateY(-2000px);
        opacity: 0;
      }

      100% {
        transform: translateY(-30px);
        opacity: 1;
      }
    }

    .bordered-box {
      opacity: 0;
      margin: 40px 0 20px 0;
      background-color: paleturquoise;
      border-radius: 0 0 20px 20px;
      display: flex;
      width: 92%;
      max-width: 833px;
      justify-content: space-evenly;
      animation: fadeInDown 0.3s forwards;
      animation-delay: 1.8s;
      .one {
        opacity: 0;
        animation: customFadeDown 1s ease-out forwards;
        animation-delay: 2s;
        transition: 1s;
        border-radius: 0 20px;
      }
      .three-left {
        opacity: 0;
        animation: customFadeDown 1s ease-out forwards;
        animation-delay: 2s;
        transition: 1s;
        border-radius: 20px 0;
      }
      .two {
        opacity: 0;
        animation: fadeInUpBig 1s ease-out forwards;
        animation-delay: 2s;
        border-radius: 20px;
      }
      .bordered-box_inner-box {
        border: 2px solid rgb(0, 225, 255);
        background-color: rgba(192, 204, 255, 0.582);
        width: 33.33%;
        h3 {
          text-decoration: underline;
          font-size: 12px;
          text-align: center;
        }
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 0 0 0;
          li {
            width: fit-content;
            font-size: 14px;
            list-style: none;
            display: flex;
            align-items: center;
            svg {
              margin-right: 10px;
              color: tomato;
              font-size: 16px;
            }
          }
        }
      }
    }
    .i-have-xp-div {
      width: 90%;
      display: flex;
      flex-direction: column;
      .ul-div {
        ul {
          width: 50%;
        }
      }
      .ul-div,
      .ul-div-XP {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 5px;
        ul {
          padding: 10px 30px;
          background-color: paleturquoise;
          border: 2px solid rgb(0, 225, 255);
          border-radius: 20px;
          margin: 0;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
        }
      }
      .ul-div-XP {
        width: 100%;
        ul {
          width: 100%;
        }
      }
      h5 {
        margin-bottom: 0;
      }
      h2 {
        margin: 0;
      }
      h3 {
        border-bottom: 1px solid darkslateblue;
        width: fit-content;
        margin: 0 0 10px 0;
        font-size: 16px;
        font-weight: 500;
      }
      ul {
        li {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
    @media screen and (max-width: 500px) {
      .i-have-xp-div {
        .ul-div {
          ul {
            padding: 20px;
          }
        }
      }
    }
  }
}
