.portfolio-btn {
  font-family: "Coolvetica", monospace, Courier, "Courier New";
  font-size: 16px;
  letter-spacing: 1px;
  padding: 7px 15px;
  margin-top: 20px;
  cursor: pointer;
  border: 2px solid rgb(148, 216, 243);
  border-radius: 4px;
  background-color: rgb(206, 224, 216);
  transition: 0.1s;
  &:hover {
    animation: rubberBand 0.7s;
    transition: 0.1s;
  }
}
