.nomad-btn {
  font-family: "Coolvetica", monospace, Courier, "Courier New";
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 13rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--clear-opposite);
  transition: 0.1s;
  &:hover {
    box-shadow: 0 0 0 2px rgb(107, 142, 255);
    animation: rubberBand 0.7s;
    transition: 0.3s;
  }
}
