.hamburger {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  margin-right: 10px;
  color: var(--dark-blue-colour);

  .burger {
    background-color: var(--menu-colour-one);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 2px 0 #00000028;
    border: 4px;
    transition: 0.1s;
    border-radius: 3px;
    &:hover {
      box-shadow: 0 0 3px 2px #00000028;
    }
    &:active {
      box-shadow: inset 0 0 10px 2px #a8a8a828;
    }
  }

  .dropdown-menu-div {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 4px;
    transform: none;
    transition: 0.2s;
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 50px;
    right: 10px;
    background-color: var(--menu-colour-three);
    h5 {
      color: rgba(0, 0, 0, 0.733);
      padding: 5px 20px;
      margin: 0;
      width: fit-content;
      font-size: 20px;
    }

    .dropdown-links {
      width: 150px;
      background-color: var(--menu-colour-two);
      margin: 10px 1px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px 20px;
      margin: 0;
      border-radius: 4px;
      &:first-child {
        list-style: none;
      }
      .dropdown-link-item {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: rgb(0, 0, 0);
        text-align: right;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
        width: 100%;
        &:hover {
          transform: translateY(-1px);
          border: 2px solid rgb(117, 126, 255);
          border-radius: 4px;
          cursor: pointer;
        }
        svg {
          transform: rotate(0);
          transition: 0.5s;
        }
        &:hover svg {
          transform: rotate(360deg);
          transition: 0.5s;
        }
      }
    }
  }
  .hidden {
    transform: translateX(30%) translateY(-50%) scale(0%);
    transition: 0.1s;
  }
}
