.homepage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .paper-home {
    opacity: 0;
    animation: jackInTheBox 1s forwards;
    animation-delay: 1.5s;
    color: rgb(42, 48, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 900px;
    height: fit-content;
    background-color: var(--resume-paper);
    box-shadow: 0 0 10px 2px rgba(140, 118, 192, 0.5);
    border-radius: 2px;
    margin-top: 40px;
    padding-bottom: 50px;
  }
  canvas {
    height: 400px;
  }

  h4 {
    font-family: monospace;
    transform: translateY(-32px);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(125, 229, 255, 0.267);
    font-size: 16px;
    letter-spacing: -0.5px;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0;
  }
  .title-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    max-width: 500px;
    height: 150px;
    margin-bottom: 30px;
    .title {
      margin-bottom: 20px;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-family: "Courier New", Courier, monospace;
        font-size: 36px;
        margin: 0;
        letter-spacing: 1px;
      }
      h5 {
        font-size: 14px;
        margin: 0 0 5px 0;
      }
    }
    .profile-pic {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;
      margin: 0 5px 0 10px;
      img {
        border: 1.5px solid whitesmoke;
        border-radius: 10px;
        height: 100%;
      }
    }
  }
  .text-container {
    h3 {
      text-decoration: underline;
      font-size: 18px;
    }
    .the-front-end-p {
      display: flex;
      p {
        padding: 0 15px;
        font-size: 16px;
        margin: 0 0 10px 0;
      }
    }
    width: 90%;
    max-width: 833px;
  }
  .text-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    span {
      font-size: 16px;
      font-weight: 600;
    }
    p {
      margin: 0 0 0 20px;
      font-size: 16px;
    }
  }
  .text-section-with-border {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid rgb(129, 129, 129);
    border-radius: 10px;
    margin: 20px 0 20px 0;

    h3 {
      margin: 0 0 20px 0;
    }
    .inner-xp-learn-div {
      display: flex;
    }
    .nomad-link-div {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin: 20px 10px;
    }
  }
  .time-to-change {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    max-width: 500px;

    img {
      width: 100%;
      border-radius: 10px;
    }

    @keyframes bkgAwesome {
      0% {
        background-position: left;
      }
      50% {
        background-position: right;
      }
      100% {
        background-position: left;
      }
    }

    span {
      width: fit-content;
      padding: 3px 10px;
      text-align: center;
      font-family: monospace, "courier";
      font-size: 20px;
      letter-spacing: -0.5px;
      padding: 6px 20px;
      position: absolute;
      color: rgb(53, 53, 53);
      background: linear-gradient(
        90deg,
        rgb(184, 218, 248),
        rgb(255, 142, 198),
        rgb(0, 217, 255)
      );
      background-size: 1000%;
      animation: bkgAwesome 15s linear infinite;
      top: -20px;
      border-radius: 3px;
      svg {
        color: rgb(33, 52, 104);
        font-size: 16px;
      }
    }
  }
}
@media screen and (orientation: portrait) {
  .homepage {
    .text-container {
      .the-front-end-p {
        flex-direction: column;
      }
    }
    canvas {
      height: 400px;
    }
    h4 {
      transform: translateY(-55px);
    }
    .title-home {
      transform: translateY(-40px);
      width: 100%;
      justify-content: center;
      .profile-pic {
        margin: 0;
      }
    }
    .time-to-change {
      width: 95%;
    }
  }
}
