.homepage {
  .paper-home {
    color: rgb(42, 48, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 900px;
    height: fit-content;
    background-color: var(--resume-paper);
    box-shadow: 0 0 10px 2px rgba(140, 118, 192, 0.5);
    border-radius: 2px;
    margin-top: 20px;
    padding-bottom: 50px;
  }
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  canvas {
    height: 400px;
  }

  h4 {
    font-family: monospace;
    transform: translateY(-32px);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(125, 229, 255, 0.267);
    font-size: 16px;
    letter-spacing: -0.5px;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0;
  }
  .title-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    max-width: 500px;
    height: 150px;
    .title {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-family: "Courier New", Courier, monospace;
        font-size: 36px;
        margin: 0;
        letter-spacing: 1px;
      }
      h5 {
        font-size: 14px;
        margin: 0 0 5px 0;
      }
    }
    .profile-pic {
      background-color: palevioletred;
      border-radius: 100vmax;
      display: flex;
      align-items: center;
      width: 127px;
      height: 127px;
      margin: 0 10px;
      img {
        border: 1.5px solid whitesmoke;
        border-radius: 100vmax;
        width: 100%;
        height: 100%;
      }
    }
  }
  .text-container {
    h3 {
      text-decoration: underline;
      font-size: 18px;
    }
    .the-front-end-p {
      display: flex;
      p {
        padding: 0 15px;
        font-size: 16px;
        margin: 0 0 10px 0;
      }
    }
    width: 90%;
    max-width: 833px;
    .nomad-div {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 10px 0 10px 0;
    }
  }
  .text-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    span {
      font-size: 16px;
      font-weight: 600;
    }
    p {
      margin: 0 0 0 20px;
      font-size: 16px;
    }
  }
  .text-section-with-border {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px 0 20px 0;
    h3 {
      margin: 0 0 20px 0;
    }
    .inner-xp-learn-div {
      display: flex;
    }
  }
  .nomad-coders-link {
    font-family: "Coolvetica", monospace, Courier, "Courier New";
    font-size: 16px;
    letter-spacing: 1px;
    padding: 7px 15px;
    cursor: pointer;
    border: 2px solid rgb(148, 216, 243);
    border-radius: 4px;
    background-color: rgb(206, 224, 216);
    transition: 0.1s;
    &:hover {
      animation: rubberBand 0.7s;
      transition: 0.1s;
    }
  }
}
@media screen and (orientation: portrait) {
  .homepage {
    .text-container {
      .the-front-end-p {
        flex-direction: column;
      }
    }
    canvas {
      height: 400px;
    }
    h4 {
      transform: translateY(-55px);
    }
    .title-home {
      transform: translateY(-40px);
      width: 100%;
      justify-content: center;
      .profile-pic {
        margin: 0;
      }
    }
  }
}
