.homepage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  canvas {
    height: 450px;
  }

  h4 {
    font-family: monospace;
    transform: translateY(-32px);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(125, 229, 255, 0.267);
    font-size: 16px;
    letter-spacing: -0.5px;
    font-weight: 100;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0;
  }
  .title-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    max-width: 500px;
    height: 150px;
    .title {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-family: "Courier New", Courier, monospace;
        font-size: 36px;
        margin: 0;
        letter-spacing: 1px;
      }
      h5 {
        font-size: 14px;
        margin: 0 0 5px 0;
      }
    }
    .profile-pic {
      background-color: palevioletred;
      border-radius: 100vmax;
      display: flex;
      align-items: center;
      width: 127px;
      height: 127px;
      margin: 0 10px;
      img {
        border: 1.5px solid whitesmoke;
        border-radius: 100vmax;
        width: 100%;
        height: 100%;
      }
    }
  }
  .text-container {
    width: 500px;
    h3 {
      text-decoration: underline;
      font-size: 18px;
    }
    p {
      font-size: 16px;
    }
    .text-section {
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
      span {
        font-size: 16px;
        font-weight: 600;
      }
      p {
        margin: 0 0 0 20px;
        font-size: 16px;
      }
    }
  }
}
@media screen and (orientation: portrait) {
  .homepage {
    canvas {
      height: 400px;
    }
    h4 {
      transform: translateY(-55px);
    }
    .title-home {
      transform: translateY(-40px);
      width: 100%;
      justify-content: center;
      .profile-pic {
        margin: 0;
      }
    }
    .text-container {
      width: 80vw;
    }
  }
}
