.resume-page {
  display: flex;
  justify-content: center;
  .paper {
    position: relative;
    margin: 75px 0;
    background-color: var(--resume-paper);
    width: 90vw;
    max-width: 950px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 10px 12px 1px rgba(0, 0, 0, 0.555);
    .resume-download {
      transition: 0.1s;
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 18px;
      padding: 7px 20px;
      border-radius: 5px;
      background-color: rgba(255, 218, 185, 0.918);
      &:hover {
        transition: 0.1s;
        box-shadow: 0 0 0 3px peachpuff;
      }
      &:active {
        transition: 0.1s;
        background-color: peachpuff;
      }
      a {
        text-decoration: none;
        color: rgb(21, 68, 139);
      }
    }
    .left-panel-div {
      border-radius: 5px 0 0 5px;
      width: 33%;
      height: 100%;
      background-color: rgb(115, 136, 198);
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      .profile-pic {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          margin-top: 30px;
          width: 80%;
          border-radius: 50%;
          box-shadow: 0 0 0 7px white;
        }
      }
      .contact-panel {
        margin-top: 20px;
        width: 85%;
        display: flex;
        flex-direction: column;
        h3 {
          font-size: 2.1em;
          border-bottom: 3px solid white;
        }
        .confidence {
          text-align: right;
          text-decoration: underline;
          text-decoration-color: palegreen;
          line-height: 0;
          text-decoration-thickness: 2px;
        }
        div {
          padding: 4px;
          font-size: 12px;
          span {
            font-size: 14px;
            letter-spacing: 0.5px;
          }
          svg {
            font-size: 16px;
            margin-right: 5px;
          }
        }
        a {
          transition: 0.3s;
          text-decoration: none;
          color: white;
          &:hover {
            transition: 0.1s;
            box-shadow: 0 0 0 2px palevioletred;
            border-radius: 3px;
          }
        }
      }
      .projects-h3 {
        width: 85%;
        font-size: 2.1em;
        border-bottom: 3px solid white;
      }
      .projects-list {
        margin: 0;
        width: 85%;
        li {
          margin-bottom: 0.5em;
          transition: 0.1s;
          &:hover {
            transition: 0.1s;
            box-shadow: 0 0 0 2px palevioletred;
            border-radius: 3px;
            box-sizing: border-box;
          }
          img {
            transform: translateX(-0.3em);
          }
          a {
            font-family: Roboto;
            color: white;
            margin-left: 5px;
            text-decoration: none;
            font-size: 1em;
          }
        }
      }
      .skills-visual-resume {
        width: 85%;
        display: flex;
        flex-direction: column;
        ul {
          padding: 0;
          li {
            list-style: none;
            letter-spacing: 0.5px;
            font-size: 14px;
            img {
              height: 1rem;
              margin: 0px 5px 0 0;
              background-color: rgb(105, 130, 201);
            }
          }
          .range-party {
            display: flex;
            align-items: center;
            input {
              width: 85%;
            }
            span {
              margin-left: 10px;
              font-size: 16px;
            }
          }
        }
      }
    }

    .right-panel-div {
      color: rgb(34, 34, 34);
      width: 67%;
      height: 100%;
      padding-bottom: 20px;
      box-sizing: border-box;
      h1 {
        margin: 70px 0 0 0;
        font-size: 3rem;
        text-align: center;
        font-family: Roboto;
      }
      h2 {
        font-weight: normal;
        font-family: Roboto;
        text-align: center;
        margin: 0;
      }
      .document-party {
        display: flex;
        width: 100%;
        position: relative;
        .about-and-education-div {
          padding: 0 40px;
          h4 {
            border-bottom: 4px solid palevioletred;
            // font-size: 24px;
            font-size: 2rem;
          }
          p {
            font-size: 14px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
              "Helvetica Neue", sans-serif;
          }
          .courses-links-ul {
            a {
              li {
                &:hover {
                  transition: 0.1s;
                  box-shadow: 0 0 0 2px rgb(6, 161, 140);
                  border-radius: 3px;
                  box-sizing: border-box;
                }
              }
            }
          }
          ul {
            margin-top: 0;
            padding-left: 18px;
            li {
              font-size: 14px;
              font-family: system-ui, -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                "Helvetica Neue", sans-serif;
            }
          }
          .education-div-resume {
            span {
              margin: 0;
              display: inline-block;
              font-size: 16px;
            }
            a {
              transition: 0.2s;
              text-decoration: none;
              color: black;
            }
            .nomad-span {
              margin-bottom: 10px;
            }
          }
          .work-exp-div {
            span {
              display: inline-block;
              font-size: 16px;
              margin: 0 10px 0 0;
            }
            .certificate-span {
              font-size: 14px;
            }
            p {
              margin: 0;
            }
            ul {
              margin: 5px 0;
            }
          }
        }
      }
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;
      margin-top: 60px;
      width: 95%;
      .left-panel-div {
        width: 100%;
        padding-top: 50px;
        border-radius: 5px 5px 0 0;
        .skills-visual-resume {
          display: flex;
          justify-content: center;
          width: 100%;
          align-items: center;
          ul {
            width: 85%;
            li {
              font-size: 18px;
            }

            .range-party {
              input {
                width: 100%;
              }
            }
          }
        }
      }
      .right-panel-div {
        width: 100%;
        h1 {
          display: none;
        }
        h2 {
          display: none;
        }
        .document-party {
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }
}
