.works-title {
  width: 100%;
  margin: 100px 0 50px 0;
  h1 {
    text-align: center;
    margin: 0;
    font-size: 32px;
  }
}

.portfolio-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  gap: calc(5px + 1vw);
  padding-bottom: 100px;

  .images-container {
    padding: 0 0 2px 0;
    .image-box {
      position: relative;
      flex: 1 1 20%;
      height: calc(200px + 25vh);
      overflow: hidden;
      width: 100%;

      .portfolio-image {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .content {
        position: absolute;
        width: 90%;
        z-index: 3;
        padding: 10px 20px;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.4) 0,
          rgba(0, 0, 0, 1)
        );
        bottom: -70px;
      }

      .title {
        margin-bottom: 0;
        margin-top: 0;
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
      }

      .description {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
        color: rgb(35, 226, 169);
      }

      .btn {
        margin-top: 30px;
        margin-bottom: 10px;
        padding: 0 23px;
        height: 40px;
        line-height: 34px;
        border: 2px solid #01f7a5;
        border-radius: 4px;
        font-size: 14px;
        color: #fff;
        background: transparent;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        cursor: pointer;
      }

      .btn:hover {
        transform: translateY(-3px);
        background: #01f7a5;
      }

      &:after {
        content: "";
        background: linear-gradient(
          180deg,
          #009ee7,
          rgb(85, 42, 243),
          rgb(223, 0, 0)
        );
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        opacity: 0;
      }

      &:hover:after {
        opacity: 0.55;
      }
      &:hover .description {
        color: rgb(243, 243, 243);
      }
      &:hover .content {
        bottom: 0;
        background: transparent;
      }
    }
  }
  @media screen and (min-width: 2400px) {
    .image-box {
      height: 40vh;
    }
  }
  @media screen and (max-width: 1050px) {
    .image-box {
      min-width: calc(33% - 20px);
    }
  }
  @media screen and (max-width: 720px) {
    .image-box {
      min-width: calc(50% - 20px);
    }
  }
  @media screen and (max-width: 540px) {
    .image-box {
      min-width: 100%;
      height: 320px;
    }
  }
  .course-div {
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 50px);
    background-color: var(--resume-paper);
    border-radius: 5px 5px 2px 2px;
    .menu-bar-xp {
      background-color: var(--window-xp-toolbar);
      width: 98.5%;
      height: 100px;
      .menu-bar-with-logo {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: space-between;
        box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.034);
        .using-div {
          display: flex;
          height: fit-content;
          .using {
            border-radius: 3px;
            padding: 5px 5px;
            display: flex;
            @media screen and (min-width: 400px) {
              padding: 5px 10px;
            }
          }
        }
        .windows-icon-div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 98%;
          background-color: white;
          font-size: 20px;
        }
      }
    }

    .window-top-header-bar {
      display: flex;
      justify-content: space-between;
      margin: 0;
      border-radius: 4px 4px 0 0;
      padding: 8px 10px;
      box-sizing: border-box;
      width: 100%;
      color: whitesmoke;
      font-size: 16px;
      svg {
        margin-right: 10px;
      }
      .window-close-div {
        display: flex;
        justify-content: space-between;
        height: 20px;
        width: 70px;
        transform: translateY(-2px);
        .x-div {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          font-weight: bold;
          background-color: red;
        }
        div {
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          font-weight: 100;
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.925), 0 0 3px 0 black,
            inset 0 0 5px 0 rgba(255, 255, 255, 0.425);
          width: 20px;
          div {
            border-radius: 0;
            width: 10px;
            height: 8px;
            border-top: 2px solid white;
          }
          .minimise {
            border-radius: 0;
            width: 6px;
            height: 0px;
            background-color: white;
            transform: translateY(5px) translateX(-3px);
          }
        }
      }
    }

    .map-party {
      width: 98.5%;
      position: relative;
      display: flex;
      .images-container {
        width: 100%;
      }
    }

    @media screen and (max-width: 1900px) {
      width: calc(33% - 50px);
    }
    @media screen and (max-width: 1250px) {
      width: calc(50% - 50px);
    }
    @media screen and (max-width: 850px) {
      width: 80%;
    }
    @media screen and (max-width: 600px) {
      width: 90%;
    }
  }
  .course-div:nth-child(5n + 1) {
    box-shadow: inset 0 0 3px 0px rgba(8, 8, 8, 0.082),
      inset 0 0 0 3px rgb(21, 133, 250), 10px 12px 10px 5px rgba(0, 0, 0, 0.24);
    .window-top-header-bar {
      background-color: var(--window-xp-border);
      box-shadow: inset 0 0 8px 1px rgb(108, 174, 236);
    }
  }
  .course-div:nth-child(5n + 2) {
    box-shadow: inset 0 0 3px 0px rgba(8, 8, 8, 0.082),
      inset 0 0 0 3px rgb(2, 238, 187), 10px 12px 10px 5px rgba(0, 0, 0, 0.24);
    .window-top-header-bar {
      background-color: rgb(2, 212, 167);
      box-shadow: inset 0 0 8px 1px rgb(124, 235, 192);
    }
  }
  .course-div:nth-child(5n + 3) {
    box-shadow: inset 0 0 3px 0px rgba(8, 8, 8, 0.082),
      inset 0 0 0 3px rgb(123, 111, 253), 10px 12px 10px 5px rgba(0, 0, 0, 0.24);
    .window-top-header-bar {
      background-color: rgb(32, 0, 148);
      box-shadow: inset 0 0 9px 3px rgb(32, 166, 219),
        rgba(15, 243, 155, 0.678) rgba(28, 212, 142, 0.678)
          rgba(124, 235, 193, 0.678) rgba(124, 235, 193, 0.644) inset 0 0 20px 0
          rgba(124, 235, 193, 0.87);
    }
  }
  .course-div:nth-child(5n + 4) {
    box-shadow: inset 0 0 3px 0px rgb(133, 58, 255),
      inset 0 0 0 3px rgb(228, 2, 96), 10px 12px 10px 5px rgba(0, 0, 0, 0.24);
    .window-top-header-bar {
      background-color: rgb(228, 2, 96);
      box-shadow: inset 0 0 8px 1px rgb(133, 58, 255);
    }
  }
  .course-div:nth-child(5n + 5) {
    box-shadow: inset 0 0 3px 0px rgb(175, 126, 255),
      inset 0 0 0 3px rgb(0, 181, 187), 10px 12px 10px 5px rgba(0, 0, 0, 0.24);
    .window-top-header-bar {
      background-color: rgb(0, 207, 214);
      box-shadow: inset 0 0 8px 1px rgb(175, 126, 255);
    }
  }
}
