.light-div {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.212);
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;

  #light-mode-button {
    transition: 1s;
    transform: none;
    padding: 6px;
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 232, 132);
    border: 0;
    cursor: pointer;
    background-color: rgb(68, 68, 68);
    background-size: 100%;
    // background: var(--light-mode-gradient);
    // background-position: left;
    // transition: background-position 0.3s ease-in-out;
    &:hover {
      background-color: rgb(135, 117, 214);
      transition: 0.3s;
    }
    &:active {
      box-shadow: 0 0 15px 0 white;
    }
  }
}
