@import "./variables.css";

body {
  transition: 0.3s ease-out;
  margin: 0;
  font: 300 11px/1.4 "Helvetica Neue", sans-serif;
  color: var(--dark-blue-colour);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-background-colour);
  overflow: auto;
  display: block;
  height: 5000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.144);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    #0e2964,
    rgb(239, 207, 240),
    var(--main-purple-colour)
  );
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45deg,
    #3e1c9c,
    rgb(255, 203, 232),
    var(--main-purple-colour)
  );
}
