:root {
  --main-background-colour: rgb(236, 222, 202);
  --main-text-colour: #00a2ff;
  --menu-colour-one: rgba(0, 225, 255, 0.116);
  --menu-colour-two: rgba(55, 135, 255, 0.233);
  --dark-blue-colour: #0e2964;
  --main-purple-colour: #8352fd;
  --main-icon-colour: #02d6f1;
  --light-mode-gradient: linear-gradient(
    90deg,
    #0e2964,
    var(--main-purple-colour),
    rgb(239, 207, 240)
  );
}
