:root {
  --main-background-colour: rgba(236, 222, 202);
  --main-text-colour: #00a2ff;
  --page-title-colour: rgb(72, 93, 209);
  --nav-bar-colour: rgba(0, 0, 0, 0.041);
  --menu-colour-one: rgba(211, 211, 211, 0.521);
  --menu-colour-two: rgba(136, 226, 248, 0.603);
  --menu-colour-three: rgb(164, 252, 240);
  --clear-menu-colour: rgba(37, 161, 192, 0.555);
  --dark-blue-colour: #0e2964;
  --main-purple-colour: #8352fd;
  --main-icon-colour: #02d6f1;
  --clear-blue: rgba(125, 229, 255, 0.267);
  --clear-hfour: rgba(163, 218, 233, 0.596);
  --clear-opposite: rgba(236, 222, 202);
  --light-mode-gradient: linear-gradient(
    90deg,
    #0e2964,
    var(--main-purple-colour),
    rgb(239, 207, 240)
  );
  --resume-paper: rgb(248, 248, 248);
}
